<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="helloworld" id="helloworld">
			<module name="Mageplaza_HelloWorld" />
		</route>
		<route id="ajaxtutorial" frontName="ajaxtutorial">
			<module name="Mageplaza_HelloWorld" />
		</route>
		<route id="consulta" frontName="consulta">
			<module name="Mageplaza_HelloWorld" />
		</route>
		<route id="getdatacustomtable" frontName="getdatacustomtable">
			<module name="Mageplaza_HelloWorld" />
		</route>
		<route id="customer" frontName="customer">
			<module name="Mageplaza_HelloWorld" before="Magento_Customer" />
		</route>
	</router>
</config>
